requests==2.22.0
ruamel.yaml==0.16.5
colorlog==4.0.2
logging-tree==1.8
dataclasses==0.6
kazoo==2.6.1

#development packages
pex==1.6.11
pytest==5.1.2
pytest-cov==2.7.1
flake8==3.7.8
setuptools_scm==3.3.3
bandit==1.6.2

confluent_kafka==1.2.0 
